{% extends "graph.html" %}
       
    {% block ajax %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        
        <script type="text/javascript">
            // Load the Visualization API and the piechart package.
            google.load("visualization", "1", {packages:["corechart"]});
      
            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);

            function drawChart() {
                var jsonData = $.ajax({
                  url: "current-data/",
                  dataType:"json",
                  async: false
                  }).responseText;
                // Create our data table out of JSON data loaded from server.
                var arrayData = $.parseJSON(jsonData)
                var data = new google.visualization.arrayToDataTable(arrayData);

                var options = {
                    title: 'Stock Performance',
                    vAxis: { title: "Price" },
                    hAxis: { title: "Date" },
                }

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data,options);
            }
            $('.chart-button').on('click')

            function toggle_indus(industry)
            {
                $.ajax({
                    url:'toggle/',
                    data:'ind='+industry,
                    success: drawChart
                })
                ind_string = industry.replace(" ","_");
                console.log(ind_string)
                $("#"+ind_string+'_button').toggleClass('toggled');
            }

            function toggle_co(company)
            {
                var ticker = company.slice(1,company.length);
                $.ajax({
                    url:'toggle/',
                    data:'co='+ticker,
                    success: drawChart
                })
                $("#"+company+'_button').toggleClass('toggled');
            }


        </script>
    {% endblock ajax %}


